<div class="manage-user">
    <div class="admin-title-page">
      <div class="title">
        List user blocked
      </div>
      <div>
        <!-- <button type="button" class="btn btn-primary">New manga</button> -->
      </div>
    </div>
    <div>
      <nz-table #tableData [nzData]="usersBlocked" [nzScroll]="{ x: '100%' }">
        <thead>
          <tr>
            <th nzLeft>Full Name</th>
            <th>Email</th>
            <th>Point</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Role</th>
            <th>Status</th>
            <th>Login number</th>
            <th>Last login</th>
            <th>Birthday</th>
            <th nzRight>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of tableData.data">
            <td nzLeft>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.point }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.status }}</td>
            <td>{{ user.loginCount }}</td>
            <td>{{ user.lastLoginAt }}</td>
            <td>{{ user.birthday }}</td>
            <td nzRight>
              <a nz-button nzTrigger="click" nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'"><i nz-icon nzType="setting" nzTheme="fill"></i></a>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item (click)="retrieveUser(user._id)">Retrieve user</li>
                  <!-- <li nz-menu-item (click)="showConfirmDeleteUser(user._id)">Delete user</li> -->
                </ul>
              </nz-dropdown-menu>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>