<div class="header">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-4">
        <div class="logo">
          <h1>
            <a routerLink=''>
              <img src="assets/img/logo.png" alt="">
            </a>
          </h1>
        </div>
      </div>
      <div class="col-4">
        <div class="search-box">
          <input type="text">
        </div>
      </div>
      <div class="col-4">
        <div class="login-signup d-flex d-flex justify-content-end">
          <div class="signup">
            <a mat-button (click)="openDialogSignUp()">
              <i class="fas fa-user-plus"></i>
              Sign Up
            </a>
          </div>
          <div class="login">
            <a mat-button (click)="openDialogLogin()">
              <i class="fas fa-sign-in-alt"></i>
              Log In
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>