<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="logo">
          <h1>
            <a href="/">
              <img src="https://mangakatana.com/static/img/logo.png" alt="">
            </a>
          </h1>
        </div>
      </div>
      <div class="col-4">
        <div class="search-box">
          <input type="text">
        </div>
      </div>
      <div class="col-4">
        <div class="login-signup">
          <div class="signup">
            Sign Up
          </div>
          <div class="login">
            Log In
          </div>
        </div>
      </div>
    </div>
  </div>
</div>