<div class="admin-navbar">
    <div class="logo-admin">
        <img src="https://vnn-imgs-f.vgcloud.vn/2018/10/04/08/than-hinh-nong-bong-kho-roi-mat-cua-hot-girl-ngu-gat-2.jpg"
            alt="">
    </div>
    <div class="divider"></div>
    <div class="dashboard">
        <a class="navbar-item" [routerLink]="['/admin']" routerLinkActive="router-link-active">
            <i class="fas fa-cog mr-3"></i>
            <div>Dashboard</div>
        </a>
    </div>
    <div class="divider"></div>
    <div class="dashboard">
        <a class="navbar-item" [routerLink]="['/admin/manga-chapter']" routerLinkActive="router-link-active">
            <i class="fas fa-cog mr-3"></i>
            <div>Chapter</div>
        </a>
    </div>
    <div class="divider"></div>
</div>