<div class="header">
  <div class="container">
    <div nz-row nzJustify="space-around" nzAlign="middle">
      <div nz-col nzSpan="10">
        <div class="logo">
          <h1>
            <a routerLink=''>
              <img src="assets/img/logo.png" alt="">
            </a>
          </h1>
        </div>
      </div>
      <div nz-col nzSpan="10">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
          <input type="text" nz-input placeholder="input search text" />
        </nz-input-group>
        <ng-template #suffixButton>
          <button nz-button nzType="primary" nzSize="large" nzSearch>Search</button>
        </ng-template>
      </div>
      <div nz-col nzSpan="4" class="ml-auto">
        <div class="profile" *ngIf="authService.isAuthenticated()">
          <div [routerLink]="['/users/profiles']">
            <img src="assets/img/img_avatar.png" alt="" class="img-profile rounded-circle">
          </div>
        </div>
        <div *ngIf="!authService.isAuthenticated()" class="login-sign_up d-flex d-flex justify-content-end">
          <div class="sign_up">
            <a nz-button [nzType]="'primary'" (click)="showModalSignUp()">
              <i class="fas fa-user-plus"></i>
              Sign Up
            </a>
          </div>
          <div class="login">
            <a nz-button [nzType]="'primary'" (click)="showModalLogin()">
              <i class="fas fa-sign-in-alt"></i>
              Log In
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="{{ title | uppercase }}" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <form nz-form [formGroup]="formLoginSignUp" class="login-form">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'errorMessageService?.emailError?.message'">
        <nz-input-group>
          <input type="text" nz-input formControlName="email" placeholder="Input email"
            (focus)="handleFocusFormLoginSignUp('email')" (focusout)="handleFocusoutFormLoginSignUp('email')" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="{{ errorMessageService?.passwordError?.message }}">
        <nz-input-group>
          <input type="password" nz-input formControlName="password" placeholder="Enter your password"
            (focus)="handleFocusFormLoginSignUp('password')" (focusout)="handleFocusoutFormLoginSignUp('password')" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>