<div class="header">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-md-6 col-12">
        <div class="logo">
          <h1>
            <a routerLink=''>
              <img src="assets/img/logo.png" alt="">
            </a>
          </h1>
        </div>
      </div>
      <div class="col-md-5 col-12">
        <div class="search-box">
          <form class="search">
            <input type="text" placeholder="Search.." name="search2">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
      <div class="col-md-1 d-flex justify-content-end">
        <div class="profile" *ngIf="authService.isAuthenticated()">
          <div [routerLink]="['/users/profiles']">
            <img src="assets/img/img_avatar.png" alt="" class="img-profile rounded-circle">
          </div>
        </div>
        <div class="login-sign_up d-flex d-flex justify-content-end">
          <div *ngIf="!authService.isAuthenticated()" class="sign_up">
            <a mat-button (click)="openDialogSignUp()">
              <i class="fas fa-user-plus"></i>
              Sign Up
            </a>
          </div>
          <div *ngIf="!authService.isAuthenticated()" class="login">
            <a mat-button (click)="openDialogLogin()">
              <i class="fas fa-sign-in-alt"></i>
              Log In
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>