.manga-saved {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-manga:hover {
  position: relative;
  width: 100%;

  .icon-remove {
    position: absolute;
    right: 0px;
    color: black;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    margin: 2px;
    visibility: visible;
  }
}

.icon-remove {
  visibility: hidden;
}
