<div>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center my-2">
      <div class="page-item">
        Upload chapter
      </div>
      <div>
        <button mat-raised-button color="primary" [disabled]="formError.chapterNumber.errors || 
          formError.chapterNumber.errors || 
          formError.groupTranslation.errors || formError.language.errors || imgURLs.length == 0" (click)="clickUploadChapter()">
          <i class="far fa-save mr-2"></i>
          Save</button>
      </div>
    </div>

    <div class="card shadow">
      <div class="card-header">
        Information
      </div>
      <div class="card-body">
        <form [formGroup]="formUploadChapter">
          <div class="form-row mb-3">
            <div class="col-md-6">
              <label for="name">Chapter Name</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': (formError.name.errors?.required && formError.name.touched)}" id="name"
                formControlName="name" placeholder="Chapter name">
              <div class="invalid-feedback">
                <ng-container *ngIf="formError.name.touched && formError.name.errors?.required">
                  Chapter name not null
                </ng-container>
              </div>
            </div>
            <div class="col-md-6">
              <label for="chapterNumber">Chapter number</label>
              <input type="text" class="form-control" id="chapterNumber" placeholder="Chapter number"
                [ngClass]="{'is-invalid': (formError.chapterNumber.errors?.required && formError.chapterNumber.touched)}"
                formControlName="chapterNumber">
              <div class="invalid-feedback">
                <ng-container *ngIf="formError.chapterNumber.touched && formError.chapterNumber.errors?.required">
                  Chapter number not null
                </ng-container>
              </div>
            </div>
          </div>
          <div class="form-row mb-3">
            <div class="col-md-6">
              <label for="groupTranslation">Group Translation</label>
              <input type="text" class="form-control" id="groupTranslation" formControlName="groupTranslation"
                [ngClass]="{'is-invalid': (formError.groupTranslation.errors?.required && formError.groupTranslation.touched)}"
                placeholder="Group Translation">
              <div class="invalid-feedback">
                <ng-container *ngIf="formError.groupTranslation.touched && formError.groupTranslation.errors?.required">
                  Group Translation not null
                </ng-container>
              </div>
            </div>
            <div class="col-md-6">
              <label for="language">Language</label>
              <input type="text" class="form-control" id="language" placeholder="Language" formControlName="language"
                [ngClass]="{'is-invalid': (formError.language.errors?.required && formError.language.touched)}">
              <div class="invalid-feedback">
                <ng-container *ngIf="formError.language.touched && formError.language.errors?.required">
                  Language not null
                </ng-container>
              </div>
            </div>
          </div>
        </form>
        <div class="form-row">
          <div class="col-12">
            <label>Images</label>
            <ng-container *ngIf="imgURLs.length == 0">
              <div class="container-upload my-3">
                <div class="card w-100">
                  <div class="card-body">
                    <div class="form-upload">
                      <form enctype="multipart/form-data" class="w-100 h-100">
                        <div class="file-input">
                          <input class="file-input" (change)="handleFileInput($event.target.files)" id="file_input"
                            type="file" style="opacity: 0;" multiple>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="imgURLs.length > 0">
              <div #contenedor class="categories shadow" cdkDropListGroup>
                <ng-container *ngFor="let url of imgURLs;let i=index">
                  <div class="categories-item" cdkDropList cdkDropListOrientation="horizontal"
                    [cdkDropListData]="{item:url,index:i}" (cdkDropListDropped)="drop($event)">
                    <div class="inner" cdkDrag>
                      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                      <!-- {{item}} -->
                      <img class="img-fluid" [src]="url" alt="your image" />
                    </div>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>