<div class="slide">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <div class="hot-update">HOT UPDATES </div>
        <div class="icon">
          <i class="fas fa-star"></i>
          <div></div>
        </div>
      </div>
      <div class="icon-next-prev">
        <a href="#carouselExampleInterval" role="button" data-slide="prev">
          <i class="fas fa-chevron-left"></i>
        </a>
        <a class="ml-2" href="#carouselExampleInterval" role="button" data-slide="next">
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>
    </div>
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <ng-container *ngFor="let slideItem of slideManga; let index = index">
          <div class="carousel-item col-lg-2 col-md-4 col-sm-6" [ngClass]="{'active': index == 1}">
            <div class="card">
              <img [src]="slideItem.coverImage.large" class="d-block w-100" height="300px">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</div>