<div class="main-description">
  <div class="container">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>This Time I Will Definitely Be Happy!</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-4">
            <img class="w-100 h-100" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
          </div>
          <div class="col-8">
            <div class="row alt-name">
              <div class="col-3">
                Alt name(s):
              </div>
              <div class="col-9">
                Cette fois, je deviendrai heureuse certainement! Cette fois, je serai heureuse certainement! Kondo Koso
                Shiawase ni Narimasu! This Time, I Will Definitely Be Happy! 今度こそ幸せになります！ 这次一定要幸福！
              </div>
            </div>

            <div class="row author">
              <div class="col-3">
                Author:
              </div>
              <div class="col-9">
                <a href="#">Saiki Riko</a>
              </div>
            </div>

            <div class="row artist">
              <div class="col-3">
                Artist:
              </div>
              <div class="col-9">
                <a href="#">Fujimaru Mamenosuke</a>
              </div>
            </div>

            <div class="row demographic">
              <div class="col-3">
                Demographic:
              </div>
              <div class="col-9">
                <span class="badge badge-secondary"><a href="#">Shoujo</a></span>
              </div>
            </div>

            <div class="row format">
              <div class="col-3">
                Format:
              </div>
              <div class="col-9">
                <span class="badge badge-secondary"><a href="#">Adaptation</a></span>
              </div>
            </div>
            <div class="row genre">
              <div class="col-3">
                Genre:
              </div>
              <div class="col-9">
                asdfasdfas
              </div>
            </div>
            <div class="row theme">
              <div class="col-3">
                Theme:
              </div>
              <div class="col-9">
                asdfasdfas
              </div>
            </div>
            <div class="row rating">
              <div class="col-3">
                Rating:
              </div>
              <div class="col-9">
                asdfasdfas
              </div>
            </div>

            <div class="row rating">
              <div class="col-3">
                Pub. status:
              </div>
              <div class="col-9">
                asdfasdfas
              </div>
            </div>

            <div class="row rating">
              <div class="col-3">
                Stats:
              </div>
              <div class="col-9">
                asdfasdfas
              </div>
            </div>

            <div class="row rating">
              <div class="col-3">
                Description:
              </div>
              <div class="col-9">
                asdfasdfas
              </div>
            </div>

            <div class="row rating">
              <div class="col-3">
                Official:
              </div>
              <div class="col-9">
                asdfasdfas
              </div>
            </div>

            <div class="row rating">
              <div class="col-3">
                Retail:
              </div>
              <div class="col-9">
                asdfasdfas
              </div>
            </div>

            <div class="row rating">
              <div class="col-3">
                Information:
              </div>
              <div class="col-9">
                asdfasdfas
              </div>
            </div>
            <div class="row rating">
              <div class="col-3">
                Reading progress:
              </div>
              <div class="col-9">
                asdfasdfas
              </div>
            </div>
            <div class="row rating">
              <div class="col-3">
                Actions:
              </div>
              <div class="col-9">
                asdfasdfas
              </div>
            </div>

          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>