<div class="manga-item">
  <div class="row">
    <div class="col-3">
      <div class="img-top">
        <a [routerLink]="['/manga/description', 1]">
          <img class="w-100 h-100"
            [src]="mangaItem.coverImage.large"
            alt="">
        </a>
      </div>
      <div class="ongoing">
        <span>{{ mangaItem.status }}</span>
      </div>
    </div>
    <div class="col-9 info-manga">
      <div class="title d-flex flex-row align-items-end">
        <h3><a [routerLink]="['/manga/description', 1]">{{ mangaItem.name }}</a>
          <span> - Update chapter 180</span>
        </h3>
      </div>
      <div class="hour-first-chap d-flex flex-row align-items-end justify-content-between">
        <div>24 minutes ago</div>
        <div>
          <a href="#">First Chapter</a>
        </div>
      </div>
      <div class="author">
        <div>
          <a class="author-item" href="#">Manhua</a>
          <a class="author-item" href="#">Manhua</a>
          <a class="author-item" href="#">Manhua</a>
          <a class="author-item" href="#">Manhua</a>
        </div>
      </div>
      <div class="description">
        <p>
          {{ mangaItem.description }}
        </p>
      </div>

      <div class="chaps">
        <div>
          <div class="chap-item d-flex flex-row align-items-end justify-content-between">
            <div><a href="#">Chap 3</a></div>
            <div>Feb-22-2020</div>
          </div>
          <div class="chap-item d-flex flex-row align-items-end justify-content-between">
            <div><a href="#">Chap 2</a></div>
            <div>Feb-21-2020</div>
          </div>
          <div class="chap-item d-flex flex-row align-items-end justify-content-between">
            <div><a href="#">Chap 1</a></div>
            <div>Feb-15-2020</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>