<div class="main-profile my-2">
  <div class="container">
    <div class="my-3 page-title d-flex align-items-center justify-content-between mt-2">
      <div>
        <div class="page-title">USER SETTING</div>
        <div class="icon">
          <i class="fas fa-star"></i>
          <div></div>
        </div>
      </div>

    </div>
    <div class="row d-flex justify-content-end mt-2">
      <div class="col-md-4 col-sm-4">
        <div class="section-edit-profile">Public Avatar</div>
        <div>You can change your avatar here or remove the current avatar</div>
      </div>
      <div class="col-md-2 col-sm-4">
        <img class="rounded-circle" width="150px" height="150px"
          [src]="userInfo?.avatar ? userInfo.avatar : 'https://media.ngoisao.vn/resize_580/news/2018/11/26/hotgirl-1-ngoisao.vn-w600-h493.jpg'"
          alt="">
      </div>
      <div class="col-md-6 col-sm-4">
        <div class="title-upload-new-avatar">Upload new avatar</div>
        <div class="choose-file">
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile04"
                aria-describedby="inputGroupFileAddon04" (change)="openFileSelect($event)">
              <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
            </div>
          </div>
        </div>
        <hr>
        <div>
          <!-- <button type="button" class="btn btn-outline-warning">Remove avatar</button> -->
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="section-edit-profile">Main settings</div>
      </div>
      <div class="col-md-8 col-sm-6">
        <div class="title-change-password">User profile</div>
        <div>
          <form nz-form [nzLayout]="'vertical'" [formGroup]="formProfileUser" class="login-form" autocomplete="on">
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="userID"><strong>User ID</strong></nz-form-label>
              <nz-form-control>
                <nz-input-group>
                  <input type="text" disabled class="form-control" nz-input formControlName="id" />

                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="email"><strong>Email</strong></nz-form-label>
              <nz-form-control>
                <nz-input-group>
                  <input type="text" disabled class="form-control" nz-input formControlName="email" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="username"><strong>User name</strong></nz-form-label>
              <nz-form-control>
                <nz-input-group>
                  <input type="text" class="form-control" nz-input formControlName="username"
                    placeholder="Input username" />

                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="address"><strong>Address</strong></nz-form-label>
              <nz-form-control>
                <nz-input-group>
                  <input type="text" class="form-control" nz-input formControlName="address" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="address"><strong>Link Social</strong></nz-form-label>
              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipList aria-label="Fruit selection">
                  <mat-chip *ngFor="let link of linkSocials" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(link)">
                    {{link.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
              </mat-form-field>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="about"><strong>Birthday</strong></nz-form-label>
              <nz-form-control>
                <nz-input-group>
                  <nz-date-picker formControlName="birthday" [nzSize]="'large'" [nzPlaceHolder]="'Select start date'"
                    class="w-100"></nz-date-picker>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="about"><strong>Gender</strong></nz-form-label>
              <nz-form-control>
                <nz-select nzShowSearch nzAllowClear nzSize="large" nzServerSearch formControlName="gender"
                  class="w-100 text-left" nzPlaceHolder="Select gender">
                  <nz-option nzCustomContent [nzLabel]="'Female'" [nzValue]="'FEMALE'">
                    Female
                  </nz-option>
                  <nz-option nzCustomContent [nzLabel]="'Male'" [nzValue]="'MALE'">
                    Male
                  </nz-option>

                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="about"><strong>About</strong></nz-form-label>
              <nz-form-control>
                <nz-input-group>
                  <textarea formControlName="about" nzSize="large" nz-input placeholder="Description for user"
                    [nzAutosize]="{ minRows: 5 }"></textarea>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <!-- <button nz-button nzType="default" class="mr-2" nzDanger (click)="onClickCancel()">Cancel</button> -->
            <button nz-button nzType="primary" (click)="onClickUpdateProfileSetting()">Update profile setting</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>