.main-profile {
  .section-edit-profile {
    font-weight: bold;
    font-size: 1.2125rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .title-upload-new-avatar, .title-change-password{
    font-weight: bold;
    font-size: 1.0rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .choose-file{
    margin-top: 13px;
  }
}
