<div class="manage-user">
  <div class="admin-title-page">
    <div class="title">
      List user
    </div>
    <div>
      <!-- <button type="button" class="btn btn-primary">New manga</button> -->
    </div>
  </div>
  <div>
    <nz-table #tableData [nzData]="users" [nzScroll]="{ x: '100%' }" [nzLoading]="isLoading">
      <thead>
        <tr>
          <th nzLeft>Full Name</th>
          <th>Age</th>
          <th>Column 1</th>
          <th>Column 2</th>
          <th>Column 3</th>
          <th>Column 4</th>
          <th>Column 5</th>
          <th>Column 6</th>
          <th>Column 7</th>
          <th>Column 8</th>
          <th nzRight>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of tableData.data">
          <td nzLeft>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.point }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.gender }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.status }}</td>
          <td>{{ user.loginCount }}</td>
          <td>{{ user.lastLoginAt }}</td>
          <td>{{ user.birthday }}</td>
          <td nzRight>
            <a nz-button nzTrigger="click" nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'"><i nz-icon nzType="setting" nzTheme="fill"></i></a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="showConfirmBlockUser(user._id)">Block user</li>
                <li nz-menu-item (click)="showConfirmDeleteUser(user._id)">Delete user</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>