<div class="container">
  <div class="page-title d-flex align-items-center justify-content-between mt-2">
    <div class="title">
      New Group
    </div>
    <div class="btn-action">
      <button nz-button nzType="default" class="mr-2" nzDanger (click)="onClickCancel()">Cancel</button>
      <button nz-button nzType="primary" (click)="onClickNewGroupTranslate()">Save</button>
    </div>
  </div>
  <div class="form-new-group mt-2">
    <div class="card">
      <div class="body">
        <div class="card-header">
          <i class="fas fa-users"></i>
          Group Info
        </div>
        <div class="card-body p-0">
          <form [formGroup]="formGroupTranslate">
            <table class="table">

              <tbody>
                <tr>
                  <th style="width: 30%;" scope="row">
                    <i class="fas fa-users"></i>
                    Group name
                  </th>
                  <td> 
                    <input nz-input [ngClass]="{'is-invalid': (errorMessageService?.groupNameError?.message)}"
                      nzSize="large" formControlName="name" placeholder="Basic usage" />
                    <div class="invalid-feedback ml-2">
                      <i class="fas fa-exclamation-triangle"></i>
                      {{ errorMessageService?.groupNameError?.message }} </div>
                  </td>

                </tr>
                <tr>
                  <th scope="row"> Language
                  </th>
                  <td>
                    <nz-select nzShowSearch nzAllowClear nzSize="large" formControlName="language"
                      class="w-100 text-left" nzPlaceHolder="Select language">
                      <ng-container *ngFor="let country of countries">
                        <nz-option nzCustomContent [nzLabel]="country.name" [nzValue]="country._id">
                          <img [src]="country.flag" class="mr-2" alt="" width="25px">
                          {{ country.name }}
                        </nz-option>
                      </ng-container>
                    </nz-select>
                  </td>

                </tr>
                <tr>
                  <th scope="row">Website</th>
                  <td> <input nz-input nzSize="large" formControlName="web" placeholder="Basic usage" /></td>
                </tr>
                <tr>
                  <th scope="row"><i class="fas fa-envelope"></i>Discord</th>
                  <td> <input nz-input nzSize="large" formControlName="discord" placeholder="Basic usage" /></td>
                </tr>
                <tr>
                  <th scope="row"> <i class="fas fa-envelope"></i>Email</th>
                  <td> <input nz-input nzSize="large" formControlName="email" placeholder="Basic usage" /></td>
                </tr>
                <tr>
                <tr>
                  <th scope="row">Description
                  </th>
                  <td>
                    <textarea formControlName="about" nz-input placeholder="Description for group"
                      [nzAutosize]="{ minRows: 5 }"></textarea>

                  </td>
                </tr>

              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="form-new-group mt-2">
    <div class="card">
      <div class="body">
        <div class="card-header">
          <i class="fas fa-info-circle"></i>
          Features
        </div>
        <div class="card-body">
          <ul>
            <li>Anyone may add a group.
            </li>
            <li>If you are the leader of a group, you can be assigned "Group Leader" for your group on
              MangaDex.
            </li>
            <li>Group leaders may add members to their group.
            </li>
            <li>Group leaders are able to manage chapters attributed to their group.
            </li>
            <li>Group leaders will have the option of stopping non group members from uploading chapters to
              their group.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>