.menu {
  background-color: #fafafa;
  padding: 10px 0px;
  .menu-item a {
    font-size: 15px;
    color: #333333;
    font-weight: 700;
    text-decoration: none;
  }
}

.dropdown-content {
  background-color: #fafafa;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}
.dropdown-item{
  width: 100px;
}
.dropdown-item:hover a{
  color: red;
}