<div class="header shadow">
  <div class="container">
    <div nz-row nzJustify="space-around" nzAlign="middle">
      <div class="col-lg-4 col-md-4 pl-0">
        <div class="logo">
          <h1>
            <a routerLink=''>
              <img src="assets/img/logo.png" alt="">
            </a>
          </h1>
        </div>
      </div>
      <div class="col-lg-5 col-md-4">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
          <input type="text" nz-input placeholder="Search here..." #mangaName
            (keyup.enter)="searchMangaByName(mangaName)" />
        </nz-input-group>
        <ng-template #suffixButton>
          <button nz-button nzType="primary" nzSize="large" (click)="searchMangaByName(mangaName)"
            nzSearch>Search</button>
        </ng-template>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="profile d-flex flex-row-reverse" *ngIf="authService.isAuthenticated()">
          <div nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'">
            <img [src]="userInfo?.avatar ? userInfo?.avatar : 'assets/img/img_avatar.png'" alt=""
              class="img-profile rounded-circle">
          </div>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item [routerLink]="['/admin']">Admin</li>
              <li nz-menu-item [routerLink]="['/users/profiles']">Setting</li>
              <li nz-menu-item [routerLink]="['/users/manga/manga-favorite']">Manga user</li>
              <li nz-menu-item (click)="onClickLogout()">Logout</li>
            </ul>
          </nz-dropdown-menu>
        </div>

        <div *ngIf="!authService.isAuthenticated()" class="login-sign_up d-flex d-flex justify-content-end">
          <div class="sign_up">
            <a nz-button [nzType]="'link'" (click)="showModalSignUp()">
              <i class="fas fa-user-plus mr-1"></i>
              Sign Up
            </a>
          </div>
          <div class="login">
            <a nz-button [nzType]="'link'" (click)="showModalLogin()">
              <i class="fas fa-sign-in-alt mr-1"></i>
              Log In
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" style="width: 400px;" [nzContent]="modalContent" [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>
    {{ title | uppercase }}
  </ng-template>

  <ng-template #modalContent>
    <form nz-form [nzLayout]="'vertical'" [formGroup]="formLoginSignUp" class="login-form" autocomplete="on">
      <nz-form-item *ngIf="!isShowFormLogin">
        <nz-form-label [nzSpan]="24" nzFor="username"><strong>User name</strong></nz-form-label>
        <nz-form-control>
          <nz-input-group>
            <input type="text" class="form-control" #username
              [ngClass]="{'is-invalid': (errorMessageService?.usernameError?.message)}" nz-input
              formControlName="username" placeholder="Input username" (focus)="handleFocusFormLoginSignUp('username')"
              (focusout)="handleFocusoutFormLoginSignUp('username')" />
            <div class="invalid-feedback ml-2">
              <i class="fas fa-exclamation-triangle"></i>
              {{ errorMessageService?.usernameError?.message }} </div>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="email"><strong>Email</strong></nz-form-label>
        <nz-form-control>
          <nz-input-group>
            <input type="text" class="form-control" #email
              [ngClass]="{'is-invalid': (errorMessageService?.emailError?.message)}" nz-input formControlName="email"
              placeholder="Input email" (focus)="handleFocusFormLoginSignUp('email')"
              (focusout)="handleFocusoutFormLoginSignUp('email')" />
            <div class="invalid-feedback ml-2">
              <i class="fas fa-exclamation-triangle"></i>
              {{ errorMessageService?.emailError?.message }} </div>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="password"><strong>Password</strong></nz-form-label>
        <nz-form-control>
          <nz-input-group>
            <input type="password" class="form-control"
              [ngClass]="{'is-invalid': (errorMessageService?.passwordError?.message)}" nz-input
              formControlName="password" placeholder="Enter your password"
              (focus)="handleFocusFormLoginSignUp('password')" (focusout)="handleFocusoutFormLoginSignUp('password')" />
            <div class="invalid-feedback ml-2">
              <i class="fas fa-exclamation-triangle"></i>
              {{ errorMessageService?.passwordError?.message }} </div>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="!isShowFormLogin">
        <nz-form-label [nzSpan]="24" nzFor="passwordConfirm"><strong>Password confirm</strong></nz-form-label>
        <nz-form-control>
          <nz-input-group>
            <input type="password" class="form-control"
              [ngClass]="{'is-invalid': (errorMessageService?.passwordConfirmError?.message)}" nz-input
              formControlName="passwordConfirm" placeholder="Enter your password confirm"
              (focus)="handleFocusFormLoginSignUp('passwordConfirm')"
              (focusout)="handleFocusoutFormLoginSignUp('passwordConfirm')" />
            <div class="invalid-feedback ml-2">
              <i class="fas fa-exclamation-triangle"></i>
              {{ errorMessageService?.passwordConfirmError?.message }} </div>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
    <div *ngIf="!isShowFormLogin" class="text-right mt-2">
      <span>
        <a class="text-danger">Forgot password?
        </a>
      </span>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="handleOk()">OK</button>
  </ng-template>
</nz-modal>