<div>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center my-2">
      <div>
        <div class="page-title">UPLOAD CHAPTER</div>
        <div class="icon">
          <i class="fas fa-star"></i>
          <div></div>
        </div>
      </div>
      <div>
        <button nz-button nzType="default" class="mr-2" nzDanger (click)="onClickCancel()">Cancel</button>
        <button nz-button nzType="primary" [disabled]="formError.chapterNumber.errors || 
          formError.chapterNumber.errors || 
          formError.groupTranslation.errors || formError.language.errors || imgURLs.length == 0"
          (click)="clickUploadChapter()">
          Save</button>
      </div>
    </div>

    <div class="card shadow">
      <div class="card-header">
        Information
      </div>
      <div class="card-body">
        <form [formGroup]="formUploadChapter" nz-form [nzLayout]="'vertical'">
          <div class="form-row mb-3">
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label><strong>Chapter Name</strong></nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="name" nzSize="large" placeholder="Chapter name"
                    [ngClass]="{'is-invalid': (formError.name.errors?.required && formError.name.touched)}" />
                  <div class="invalid-feedback ml-2">
                    <i class="fas fa-exclamation-triangle"></i>
                    Chapter name not null
                  </div>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label><strong>Chapter number</strong></nz-form-label>
                <nz-form-control>
                  <input nz-input nzSize="large"
                    [ngClass]="{'is-invalid': (formError.chapterNumber.errors?.required && formError.chapterNumber.touched)}"
                    formControlName="chapterNumber" placeholder="Chapter number" />
                  <div class="invalid-feedback ml-2">
                    <i class="fas fa-exclamation-triangle"></i>
                    Chapter number not null
                  </div>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="form-row mb-3">
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label><strong>Group Translation</strong></nz-form-label>

                <nz-select nzShowSearch nzAllowClear nzSize="large"
                  [ngClass]="{'is-invalid': (formError.groupTranslation.errors?.required && formError.groupTranslation.touched)}"
                  nzPlaceHolder="Group Translation" formControlName="groupTranslation">
                  <ng-container *ngFor="let group of groupTranslates">
                    <nz-option nzCustomContent [nzLabel]="group.name" [nzValue]="group._id">
                      {{ group.name }}
                    </nz-option>
                  </ng-container>
                </nz-select>
                <div class="invalid-feedback ml-2">
                  <i class="fas fa-exclamation-triangle"></i>
                  Group Translation not null
                </div>
              </nz-form-item>
            </div>
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label><strong>Language</strong></nz-form-label>
                <nz-select nzShowSearch nzAllowClear nzSize="large"
                  [ngClass]="{'is-invalid': (formError.language.errors?.required && formError.language.touched)}"
                  nzPlaceHolder="Select language" formControlName="language">
                  <ng-container *ngFor="let country of countries">
                    <nz-option nzCustomContent [nzLabel]="country.name" [nzValue]="country._id">
                      <img [src]="country.flag" class="mr-2" alt="" width="25px">
                      {{ country.name }}
                    </nz-option>
                  </ng-container>
                </nz-select>
                <div class="invalid-feedback ml-2">
                  <i class="fas fa-exclamation-triangle"></i>
                  Language not null
                </div>
              </nz-form-item>
            </div>
          </div>
        </form>
        <div class="form-row">
          <div class="col-12">
            <label><strong>Images</strong></label>
            <ng-container *ngIf="imgURLs.length == 0">
              <div class="container-upload my-3">
                <div class="card w-100">
                  <div class="card-body">
                    <div class="form-upload">
                      <form enctype="multipart/form-data" class="w-100 h-100">
                        <div class="file-input">
                          <input class="file-input" (change)="handleFileInput($event.target.files)" id="file_input"
                            type="file" style="opacity: 0;" multiple>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="imgURLs.length > 0">
              <div #contenedor class="categories shadow" cdkDropListGroup>
                <ng-container *ngFor="let url of imgURLs;let i=index">
                  <div class="categories-item" cdkDropList cdkDropListOrientation="horizontal"
                    [cdkDropListData]="{item:url,index:i}" (cdkDropListDropped)="drop($event)">
                    <div class="inner" cdkDrag>
                      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                      <!-- {{item}} -->
                      <img class="img-fluid" [src]="url" alt="your image" />
                    </div>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>