<div class="hot-manga">
  <div class="mb-3">
    <div class="page-title">HOT MANGA</div>
    <div class="icon">
      <i class="fas fa-star"></i>
      <div></div>
    </div>
  </div>

  <div class="list-manga">
    <div *ngFor="let item of listHostManga">
      <div class="manga-item">
        <div class="row">
          <div class="col-6">
            <img class="w-100 h-100" src="assets/img/manga-item.jfif" alt="">
          </div>
          <div class="col-6 desc">
            <div class="name"><a href="#">The Female Hero and the Shota Orc</a></div>
            <div class="ongoging">Ongoing</div>
            <div class="chap"><a href="#">Chapter 93</a></div>
          </div>
        </div>
      </div>
      <hr class="hr-item">
    </div>
  </div>
</div>