<div class="hot-manga">
  <div class="mb-3">
    <div class="page-title">HOT MANGA</div>
    <div class="icon">
      <i class="fas fa-star"></i>
      <div></div>
    </div>
  </div>

  <div class="list-manga">
    <div *ngFor="let item of listHostManga">
      <div class="manga-item">
        <div class="row">
          <div class="col-6">
            <img class="w-100 h-100" [src]="item.coverImage.medium" alt="">
          </div>
          <div class="col-6 desc">
            <div class="name"><a href="#">{{ item.name }} </a></div>
            <div class="ongoging">Ongoing</div>
            <div class="chap">
              <ng-container *ngIf="item?.chapter[item.chapter.length -1]?._id">
                <a
                  [routerLink]="['/manga/',item.id,'chapter', item?.chapter[item.chapter.length -1]?._id]">
                  {{ item?.chapter[item.chapter.length -1]?.name }} </a>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <hr class="hr-item">
    </div>
  </div>
</div>