<div class="hot-manga">
  <div class="title">
    <div class="text">HOT MANGA</div>
    <div class="icon">-------</div>

  </div>

  <div class="list-manga">
    <div *ngFor="let item of listHostManga">
      <div class="manga-item">
        <div class="row">
          <div class="col-6">
            <img class="w-100 h-100"
              src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&refresh=86400&resize_w=150&url=http://i2.mangakatana.com/token/9010722528e_7e0a_%3Afjd90465.3533592m5n5g46pc37%3A/the-female-hero-and-the-shota-orc.jpg"
              alt="">
          </div>
          <div class="col-6 desc">
            <div class="name"><a href="#">The Female Hero and the Shota Orc</a></div>
            <div class="ongoging">Ongoing</div>
            <div class="chap"><a href="#">Chapter 93</a></div>
          </div>
        </div>
      </div>
      <hr class="hr-item">
    </div>
  </div>
</div>