<div class="manage-manga">
  <div class="admin-title-page">
    <div class="title">
      List manga
    </div>
  </div>
  <div class="list-manga">

    <nz-table #tableData [nzData]="listManga" [nzScroll]="{ x: '100%' }" [nzLoading]="isLoading">
      <thead>
        <tr>
          <th nzLeft>ID</th>
          <th >Name</th>
          <th>Image</th>
          <th>Country</th>
          <th>User follow</th>
          <th>View</th>
          <th>Status</th>
          <th>Genre</th>
          <th>Description</th>
          <!-- <th>Status</th> -->
          <!-- <th>Login number</th> -->
          <!-- <th>Last login</th> -->
          <!-- <th>Birthday</th> -->
          <!-- <th nzRight>Action</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let manga of tableData.data">
          <td nzLeft> {{ manga?._id }} </td>
          <td >{{ manga.name }}</td>
          <td>
            <img [src]="manga?.coverImage.medium" alt="">
          </td>
          <td>
            <img style="width: 50px;" src="https://cdn.ip2location.com/assets/img/flags/{{ manga?.countryOfOrigin | lowercase  }}.png"
              [alt]="manga?.countryOfOrigin">
          </td>
          <td>{{ manga?.userFollowedID.length }}</td>
          <td>{{ manga?.view }}</td>
          <td>{{ manga?.status }}</td>
          <td>
            <ng-container *ngFor="let genre of manga?.genres"> {{ genre }} </ng-container>
          </td>
          <td style="white-space: nowrap; width: 100%; overflow: hidden; text-overflow: ellipsis;"
            [nzTooltipTitle]="manga?.description" nzTooltipPlacement="bottom" nz-tooltip>{{ manga?.description }}</td>
          <!-- <td>{{ user.status }}</td> -->
          <!-- <td>{{ user.loginCount }}</td>
          <td>{{ user.lastLoginAt }}</td>
          <td>{{ user.birthday }}</td> -->
          <!-- <td nzRight>
            <a nz-button nzTrigger="click" nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'"><i nz-icon
                nzType="setting" nzTheme="fill"></i></a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="showConfirmBlockUser(user._id)">Block user</li>
                <li nz-menu-item (click)="showConfirmDeleteUser(user._id)">Delete user</li>
              </ul>
            </nz-dropdown-menu>
          </td> -->
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>