<div class="menu">
  <div class="container">
    <div class="d-flex align-items-center">
      <div class="menu-item"><a mat-button href="#">Home</a></div>
      <div class="menu-item"><a mat-button href="#">Latest Update</a></div>
      <div class="menu-item"><a mat-button href="#">Manga Directory</a></div>
      <div class="menu-item"><a mat-button href="#">New Manga</a></div>
      <div class="menu-item"><a mat-button href="#">Genres</a></div>
      <!-- <div class="ml-auto">
        <button mat-raised-button color="primary">Dark Theme</button>
      </div> -->
    </div>
  </div>
</div>