<div class="user-navbar">
  <a [routerLink]="['manga-upload']" routerLinkActive="router-link-active">Manga upload</a>
  <a [routerLink]="['manga-favorite']" routerLinkActive="router-link-active">Manga favorite</a>
  <a [routerLink]="['manga-saved']" routerLinkActive="router-link-active">Manga saved</a>
  <a [routerLink]="['manga-history-reading']" routerLinkActive="router-link-active">Manga history reading</a>
  <a [routerLink]="['chapter-upload']" routerLinkActive="router-link-active">Chapter upload</a>
  <a [routerLink]="['chapter-history-reading']" routerLinkActive="router-link-active">Chapter history reading</a>
  <a [routerLink]="['manga-suggests']" routerLinkActive="router-link-active">Manga suggests</a>
</div>