<div class="slide my-3">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <div class="hot-update">Recommended for you</div>
      </div>
      <div class="icon-next-prev">
        <a href="#carousel-example" role="button" data-slide="prev">
          <i class="fas fa-chevron-left"></i>
        </a>
        <a class="ml-2" href="#carousel-example" role="button" data-slide="next">
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>
    </div>
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner row w-100 mx-auto d-flex justify-content-between" role="listbox">
        <ng-container *ngFor="let manga of mangaDiscussion; let index = index">
          <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3  px-0" [ngClass]="{'active': index == 1}">
            <div>
              <a [routerLink]="['/manga', manga._id]">
                <img [src]="manga.coverImage.large" width="200px" height="280px" alt="img1">
              </a>
              <div class="slide-title">
                <div class="manga-name mt-2">
                  <a [routerLink]="['/manga', manga.id]"> {{ manga?.name }}</a>
                </div>
                
              </div>
            </div>
          </div>

        </ng-container>
      </div>
    </div>
  </div>
</div>