<div class="admin-dashboard">
    <div class="admin-title-page">
        <div class="title">
            Dashboard
        </div>
        <div>
            <button type="button" class="btn btn-primary">Button</button>
        </div>
    </div>
    <div class="info-system">
        <div class="col-xl-3 col-md-6 total-manga shadow">
            <div class="info">
                <div class="title-info">
                    Total manga
                </div>
                <div class="value">
                    200000
                </div>
            </div>
            <div class="icon">
                <i class="fas fa-dollar-sign"></i>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 total-manga shadow">
            <div class="info">
                <div class="title-info">
                    Total manga
                </div>
                <div class="value">
                    200000
                </div>
            </div>
            <div class="icon">
                <i class="fas fa-dollar-sign"></i>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 total-manga shadow">
            <div class="info">
                <div class="title-info">
                    Total manga
                </div>
                <div class="value">
                    200000
                </div>
            </div>
            <div class="icon">
                <i class="fas fa-dollar-sign"></i>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 total-manga shadow">
            <div class="info">
                <div class="title-info">
                    Total manga
                </div>
                <div class="value">
                    200000
                </div>
            </div>
            <div class="icon">
                <i class="fas fa-dollar-sign"></i>
            </div>
        </div>
    </div>
</div>