<app-spinner [loading]="isLoading"></app-spinner>
<div *ngIf="!isLoading" class="admin-dashboard">
    <div class="admin-title-page">
        <div class="title">
            Dashboard
        </div>
        <div>
            <button type="button" class="btn btn-primary">Button</button>
        </div>
    </div>
    <div class="info-system">
        <div class="col-xl-3 col-md-6 total-manga shadow">
            <div class="info">
                <div class="title-info">
                    Total user
                </div>
                <div class="value">
                    {{ dashboardInfo.totalUser }}
                </div>
            </div>
            <div class="icon">
                <i class="fas fa-dollar-sign"></i>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 total-manga shadow">
            <div class="info">
                <div class="title-info">
                    Total manga
                </div>
                <div class="value">
                    {{ dashboardInfo.totalManga }}
                </div>
            </div>
            <div class="icon">
                <i class="fas fa-dollar-sign"></i>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 total-manga shadow">
            <div class="info">
                <div class="title-info">
                    Total chapter
                </div>
                <div class="value">
                    {{ dashboardInfo.totalChapter }}
                </div>
            </div>
            <div class="icon">
                <i class="fas fa-dollar-sign"></i>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 total-manga shadow">
            <div class="info">
                <div class="title-info">
                    Total group
                </div>
                <div class="value">
                    {{ dashboardInfo.totalGroup }}
                </div>
            </div>
            <div class="icon">
                <i class="fas fa-dollar-sign"></i>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Genre
        </div>
        <div class="card-body">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
            </canvas>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header">
            Manga male/female
        </div>
        <div class="card-body">
            <canvas baseChart [data]="pieChartDataSex" [labels]="pieChartLabelsSex" [chartType]="pieChartTypeSex"
                [options]="pieChartOptionsSex" [plugins]="pieChartPluginsSex" [legend]="pieChartLegendSex">
            </canvas>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header">
            Genre male/female
        </div>
        <div class="card-body">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
        </div>
    </div>
</div>