.manga-item {
  padding: 15px;
  background: #fafafa;
  border: 1px dashed #d9d9d9;
  .info-manga {
    .title {
      font-size: 22px;
      color: #999999;
      a {
        color: #fe322e;
        text-decoration: none;
      }
    }
    .hour-first-chap {
      font-size: 14px;
      color: #222222;
      a {
        color: #fe322e;
      }
    }
    .author {
      .author-item {
        padding: 1px 8px;
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 5px;
        color: #009fdf;
        border: 1px dashed #009fdf;
        border-radius: 3px;
        font-size: 12px;
        vertical-align: top;
        text-decoration: none;
      }
    }
    .description{
      font-size: 14px;
      p{
        margin-bottom: 0px;
      }
    }
    .chaps{
      font-size: 13px;
      color: #888888;
    }
  }
  .ongoing {
    color: #18ce0f;
    border: 1px solid #18ce0f;
    text-transform: uppercase;
    text-align: center;
    padding: 3px 0;
    font-weight: 700;
  }
}

.chap-update{
  font-size: 18px;
}
.icon-clock{
  color: #41a2df;
}