.main-description {
  .card-body {
    margin: 0px;
    padding: 0px;
  }
  hr {
    margin: 6px 0px;
  }
  .alt-name,
  .author,
  .artist,
  .demographic,
  .format,
  .genre,
  .theme,
  .rating {
    border-bottom: 0.5px solid #333333;
  }
}

.chapter-name {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s;
}

.chapter-name:hover{
  color: #0056b3;
  text-decoration: underline;
}

.list-chapter{
  overflow-y: auto;
  max-height: 515px;
}
.actions{
  display: flex;
  flex-direction: column;
}

.badge {
  display: inline-block;
  padding: .25em .4em;
      padding-right: 0.4em;
      padding-left: 0.4em;
  font-size: 100%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}