<div class="main-description mt-2">
  <div class="container" *ngIf="mangaItem !== null">
    <div class="card">
      <div class="card-header">
        {{mangaItem.name}}
      </div>
      <div class="card-body">
        <div class="row">

          <div class="col-4">
            <a [routerLink]="['/manga/',mangaItem?._id,'chapter', listChapter[0]?._id]">
              <img [src]="mangaItem.coverImage.large" class="img-fluid w-100" alt="">
            </a>
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-4">
                Title ID:
              </div>
              <div class="col-8">
                # {{mangaItem?._id}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-4">
                Alt name(s):
              </div>
              <div class="col-8">
                {{mangaItem.otherName.english}}, {{mangaItem.otherName.native}},
                {{mangaItem.otherName.romaji}}, {{mangaItem.otherName.userPreferred}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-4">
                Author:
              </div>
              <div class="col-8">
                <ng-container *ngFor="let author of mangaItem.staff">
                  <div>{{ author.name }} </div>
                </ng-container>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-4">
                Artist:
              </div>
              <div class="col-8">
                # {{mangaItem.id}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-4">
                Demographic:
              </div>
              <div class="col-8">
                # {{mangaItem.id}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-4">
                Content:
              </div>
              <div class="col-8">
                # {{mangaItem.id}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-4">
                Genre:
              </div>
              <div class="col-8">
                <span class="badge badge-pill badge-primary mr-2"
                  *ngFor="let genre of mangaItem.genres">{{genre}}</span>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-4">
                Theme:
              </div>
              <div class="col-8">
                # {{mangaItem.id}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-4">
                Rating:
              </div>
              <div class="col-8">
                # {{mangaItem.id}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-4">
                Pub. status:
              </div>
              <div class="col-8">
                {{mangaItem.status}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-4">
                Description:
              </div>
              <div class="col-8">
                {{mangaItem.description}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-4">
                Actions:
              </div>
              <div class="col-8">
                <button nz-button nzType="default" [disabled]="checkDisableUploadBtn"
                  [routerLink]="['upload-chapter']"><i class="fas fa-upload mr-2"></i>Upload</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <nz-tabset [nzSize]="'large'" (nzSelectChange)="changeSelectTab($event)">
          <nz-tab nzTitle="Chapters">
            <div class="table-responsive">
              <table class="table table-sm">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">View</th>
                    <th scope="col">Language</th>
                    <th scope="col">User upload</th>
                    <th scope="col">Update</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let chapter of listChapter; let index = index">
                    <th scope="row">{{ index +1 }}</th>
                    <td><a class="chapter-name" (click)="handleGotoChapterDetail(chapter?._id)">{{ chapter.name }}</a>
                    </td>
                    <td>{{ chapter.view }}</td>
                    <td> <img [src]="chapter.language.flag" width="40px" alt=""> {{ chapter.language.nativeName }}</td>
                    <td> {{ chapter.createBy.username }} </td>
                    <td> {{ chapter.updatedAt |  date:'MMM dd, yyyy' }} </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </nz-tab>
          <nz-tab nzTitle="Comments">
            <nz-list [nzDataSource]="listComment" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
              <ng-template #item let-item>
                <nz-comment [nzAuthor]="item.user.username" [nzDatetime]="item.timeComment">
                  <nz-avatar nz-comment-avatar [nzSrc]="item.user.avatar"></nz-avatar>
                  <nz-comment-content>
                    <p>{{ item.commentContent }}</p>
                  </nz-comment-content>
                  <nz-comment-action>Reply to</nz-comment-action>
                </nz-comment>
              </ng-template>
            </nz-list>
            <div>
              <form [formGroup]="form">
                <div>
                  <textarea rows="4" [nzAutosize]="{ minRows: 4}" nz-input formControlName="commentContent"></textarea>
                </div>
                <div class="d-flex justify-content-end mt-2">
                  <button nz-button (click)="onSubmitFormComment()" [nzLoading]="isLoadingSubmit"
                    class="login-form-button login-form-margin" [nzType]="'primary'"
                    [disabled]="(f.commentContent.errors?.required)">Send</button>
                </div>
              </form>
            </div>

          </nz-tab>
          <nz-tab nzTitle="Covers">
            Content of Tab Pane 3
          </nz-tab>
        </nz-tabset>
      </div>
    </div>

  </div>
</div>