.page-title {
    text-transform: uppercase;
    color: #4d5e70;
    font-size: 24px;
    line-height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
  }
  .icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: red;
    left: 0;
    font-size: 14px;
    div {
      margin-left: 8px;
      width: 100px;
      height: 3px;
      background: red;
    }
  }
  