.admin-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  .admin-header {
    width: 100%;
    height: 8%;
    background-image: linear-gradient(#172437, #243a54);
  }
  .main {
    display: flex;
    width: 100%;
    height: 100%;
    .admin-navbar {
      width: 18%;
      height: 100%;
      background-color: blue;
    }
    .content{
      width: 100%;
      background-color: #e9ebee;
    }
  }
}
