.admin-page {
  width: 100%;
  display: flex;
  min-height: 757px;

  .left {
    width: 18%;
    background-color: #4268d6;
  }
  .right {
    width: 82%;
    background-color: #f8f9fc;
    .admin-content{
      padding: 24px 24px 0px 24px;
    }
  }
}
