<!-- <div class="login-sign_up">
  <div class="title text-center mb-4">{{title | uppercase}}</div>
  <div>
    <form [formGroup]="formLoginSignUp">
      <div class="username mb-3">
        <mat-form-field *ngIf="data.type ==='sign_up'" class="w-100" appearance="outline">
          <mat-label>Enter Username</mat-label>
          <input matInput placeholder="Input username" formControlName="username" autocomplete="off"
            (focus)="handleFocusFormLoginSignUp('username')" (focusout)="handleFocusoutFormLoginSignUp('username')">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <div class="txt-error ml-2" *ngIf="errorMessageService?.usernameError">
          <i class="fas fa-exclamation-circle"></i>
          {{ errorMessageService?.usernameError?.message }}
        </div>
      </div>
      <div class="email mb-3">
        <mat-form-field class="w-100 p-0" appearance="outline">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="Input email" formControlName="email" autocomplete="off"
            (focus)="handleFocusFormLoginSignUp('email')" (focusout)="handleFocusoutFormLoginSignUp('email')">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <div class="txt-error ml-2" *ngIf="errorMessageService?.emailError">
          <i class="fas fa-exclamation-circle"></i>
          {{ errorMessageService?.emailError?.message }}
        </div>
      </div>
      <div class="password mb-3">
        <mat-form-field appearance="outline" class="w-100" style="padding: 0px; margin: 0px;">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
            (focus)="handleFocusFormLoginSignUp('password')" (focusout)="handleFocusoutFormLoginSignUp('password')">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div class="txt-error ml-2" *ngIf="errorMessageService?.passwordError">
          <i class="fas fa-exclamation-circle"></i>
          {{ errorMessageService?.passwordError?.message }}
        </div>
      </div>
      <div class="password-confirm">
        <mat-form-field *ngIf="data.type ==='sign_up'" appearance="outline" class="w-100">
          <mat-label>Enter your password confirm</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordConfirm"
            (focus)="handleFocusFormLoginSignUp('passwordConfirm')"
            (focusout)="handleFocusoutFormLoginSignUp('passwordConfirm')">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div class="txt-error ml-2" *ngIf="errorMessageService?.passwordConfirmError">
          <i class="fas fa-exclamation-circle"></i>
          {{ errorMessageService?.passwordConfirmError?.message }}
        </div>
      </div>
      <div class="input-group mb-3 mt-3">
        <button class="w-100 p-1 btn-submit" type="button" mat-raised-button color="primary"
          (click)="submitFormLoginSignUp()" disabled=false>{{btnSubmit}}</button>
      </div>
    </form>
  </div>
</div> -->