<div class="container">
  <div class="my-3 page-title d-flex align-items-center justify-content-between mt-2">
    <div>
      <div class="page-title">NEW MANGA</div>
      <div class="icon">
        <i class="fas fa-star"></i>
        <div></div>
      </div>
    </div>
    <div class="btn-action">
      <button nz-button nzType="default" class="mr-2" nzDanger (click)="onClickCancel()">Cancel</button>
      <button nz-button nzType="primary" (click)="onClickNewGroupTranslate()">Save</button>
    </div>
  </div>
  <div class="form-new-group mt-2">
    <div class="card mt-2">
      <div class="card-header">
        <strong> <i class="fas fa-images mr-1"></i>
          Image</strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <div class="file-input-banner" *ngIf="!urlImgBanner">
              <input class="file-input-banner" (change)="handleChangeImageBanner($event.target.files)"
                id="file_input_banner" type="file" style="opacity: 0;">
            </div>
            <div *ngIf="urlImgBanner">
              <img [src]="urlImgBanner" class="img-fluid" style="width: 427px; height: 200px;" alt="">
            </div>
          </div>
          <div class="col-6">
            <div class="file-input-cover" *ngIf="!urlImgCover">
              <input class="file-input-cover" (change)="handleChangeImageCover($event.target.files)"
                id="file_input_cover" type="file" style="opacity: 0;">
            </div>
            <div *ngIf="urlImgCover">
              <img [src]="urlImgCover" class="img-fluid" style="width: 427px; height: 200px;" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-2">
      <div class="body">
        <div class="card-header">
          <strong>
            <i class="fas fa-users"></i>
            Manga Info
          </strong>
        </div>
        <div class="card-body p-0">
          <form [formGroup]="formNewManga">
            <table class="table">
              <tbody>
                <tr>
                  <th style="width: 30%;" scope="row">
                    <i class="fas fa-users mr-1"></i>
                    Name
                  </th>
                  <td>
                    <input nz-input nzSize="large" formControlName="name" placeholder="Manga name" />
                  </td>

                </tr>
                <tr>
                  <th scope="row">
                    Other name
                  </th>
                  <td>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="Romaji">Romaji</span>
                      </div>
                      <input type="text" class="form-control" formControlName="romaji">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="English">English</span>
                      </div>
                      <input type="text" class="form-control" formControlName="english">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="Native">Native</span>
                      </div>
                      <input type="text" class="form-control" formControlName="native">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="UserPreferred">User
                          Preferred</span>
                      </div>
                      <input type="text" class="form-control" formControlName="userPreferred">
                    </div>
                  </td>

                </tr>
                <tr>
                  <th scope="row">
                    <i class="fas fa-globe-asia mr-1"></i>
                    Language
                  </th>
                  <td>
                    <nz-select nzShowSearch nzAllowClear nzSize="large" nzServerSearch formControlName="language"
                      class="w-100 text-left" nzPlaceHolder="Select language">
                      <nz-option nzCustomContent [nzLabel]="'Japan'" [nzValue]="'JP'">
                        <img class="mr-2" width="25px" src="https://cdn.ip2location.com/assets/img/flags/jp.png"
                          alt="Japan">
                        Japan
                      </nz-option>
                      <nz-option nzCustomContent [nzLabel]="'Korea'" [nzValue]="'KR'">
                        <img class="mr-2" width="25px" src="https://cdn.ip2location.com/assets/img/flags/kr.png"
                          alt="Korea">
                        Korea
                      </nz-option>
                      <nz-option nzCustomContent [nzLabel]="'China'" [nzValue]="'CN'">
                        <img class="mr-2" width="25px" src="https://cdn.ip2location.com/assets/img/flags/cn.png"
                          alt="China">
                        China
                      </nz-option>
                    </nz-select>
                  </td>

                </tr>
                <tr>
                  <th scope="row">
                    <i class="fas fa-tasks mr-1"></i>
                    Genre
                  </th>
                  <td>
                    <nz-select class="w-100 text-left" nzAllowClear nzShowSearch nzServerSearch nzSize="large"
                      nzMode="multiple" nzPlaceHolder="Select genre" formControlName="genre"
                      [(ngModel)]="listOfSelectedValue">
                      <ng-container *ngFor="let g of genres">
                        <nz-option [nzHide]="!isNotSelected(g.name)" [nzValue]="g.name" [nzLabel]="g.name"></nz-option>
                      </ng-container>
                    </nz-select>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <i class="fas fa-calendar-alt mr-1"></i>
                    Start date
                  </th>
                  <td>

                    <nz-date-picker formControlName="startDate" [nzSize]="'large'" [nzPlaceHolder]="'Select start date'"
                      class="w-100" (ngModelChange)="onChange($event)"></nz-date-picker>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <i class="fas fa-calendar-alt mr-1"></i>
                    End date
                  </th>
                  <td>

                    <nz-date-picker formControlName="endDate" [nzPlaceHolder]="'Select end date'" [nzSize]="'large'"
                      class="w-100" (ngModelChange)="onChange($event)"></nz-date-picker>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <i class="fas fa-external-link-alt mr-1"></i>
                    Website
                  </th>
                  <td>
                    <input nz-input nzSize="large" formControlName="web"
                      placeholder="(include http:// or https://) (Optional)" />
                  </td>
                </tr>
                <tr>
                  <th scope="row"><i class="fab fa-discord mr-1"></i>Discord</th>
                  <td> <input nz-input nzSize="large" formControlName="discord"
                      placeholder="(include http:// or https://) (Optional)" /></td>
                </tr>
                <tr>
                  <th scope="row"> <i class="fas fa-envelope mr-1"></i>Email</th>
                  <td> <input nz-input nzSize="large" formControlName="email" placeholder="Email (Optional)" /></td>
                </tr>
                <tr>
                <tr>
                  <th scope="row">
                    <i class="fas fa-receipt mr-1"></i>
                    Description
                  </th>
                  <td>
                    <textarea formControlName="about" nzSize="large" nz-input placeholder="Description for group"
                      [nzAutosize]="{ minRows: 5 }"></textarea>

                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>