<div class="login-signup">
  <div class="title">{{title}}</div>
  <div>
    <form [formGroup]="formLoginSignUp">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Enter Username</mat-label>
        <input matInput placeholder="Input username" formControlName="username" autocomplete="off">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field *ngIf="data.type ==='signup'" class="w-100" appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="Input email" formControlName="email" autocomplete="off">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field  *ngIf="data.type ==='signup'" appearance="outline" class="w-100">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div class="input-group mb-3">
        <button class="w-100 p-1 btn-submit" type="button"  mat-raised-button color="primary"
          (click)="submitFormLoginSignUp()">{{btnSubmit}}</button>
      </div>
    </form>
  </div>
</div>