<div class="login-signup">
  <div class="title">{{title}}</div>
  <div>
    <form [formGroup]="formLoginSignUp">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
          aria-describedby="basic-addon1" formControlName="username">
      </div>

      <div class="input-group mb-3" *ngIf="data.type ==='signup'" >
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon2">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon2"
          formControlName="email">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">@</span>
        </div>
        <input type="password" class="form-control" placeholder="Password" aria-label="Password"
          aria-describedby="basic-addon3" formControlName="password">
      </div>

      <div class="input-group mb-3" *ngIf="data.type ==='signup'">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon4">@</span>
        </div>
        <input type="password" class="form-control" placeholder="Verify Password" aria-label="VerifyPassword"
          aria-describedby="basic-addon4" formControlName="password">
      </div>
      <div class="input-group mb-3">
        <button class="w-100" type="button" mat-raised-button color="primary" (click)="submitFormLoginSignUp()">{{btnSubmit}}</button>
      </div>
    </form>
  </div>
</div>