<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2><strong>Password</strong></h2>
            <p>
                After a successful password update, you will be redirected to the login page where you can log in with
                your new password.
            </p>
        </div>
        <div class="col-md-8">
            <h4>
                <strong>Change your password or recover your current one </strong>
            </h4>
            <div>
                <form nz-form [nzLayout]="'vertical'" [formGroup]="formResetPassword" class="login-form"
                    autocomplete="on">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="password"><strong>Password</strong></nz-form-label>
                        <nz-form-control>
                            <nz-input-group>
                                <input type="password" class="form-control"
                                    [ngClass]="{'is-invalid': (errorMessageService?.passwordError?.message)}" nz-input
                                    formControlName="password" placeholder="Enter your password"
                                    (focus)="handleFocusFormLoginSignUp('password')"
                                    (focusout)="handleFocusoutFormLoginSignUp('password')" />
                                <div class="invalid-feedback ml-2">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    {{ errorMessageService?.passwordError?.message }} </div>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="passwordConfirm"><strong>Password confirm</strong>
                        </nz-form-label>
                        <nz-form-control>
                            <nz-input-group>
                                <input type="password" class="form-control"
                                    [ngClass]="{'is-invalid': (errorMessageService?.passwordConfirmError?.message)}"
                                    nz-input formControlName="passwordConfirm" placeholder="Enter your password confirm"
                                    (focus)="handleFocusFormLoginSignUp('passwordConfirm')"
                                    (focusout)="handleFocusoutFormLoginSignUp('passwordConfirm')" />
                                <div class="invalid-feedback ml-2">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    {{ errorMessageService?.passwordConfirmError?.message }} </div>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <button nz-button nzType="primary" (click)="onClickSaveChangePassword()">Save password</button>
                </form>
            </div>
        </div>
    </div>
</div>