<ng-container *ngFor="let mangaItem of listManga; let index = index">
  <div class="manga-item mb-2">
    <div class="row">
      <div class="col-lg-3 col-md-5 col-sm-6 col-12">
        <div class="img-top">
          <a [routerLink]="['/manga', mangaItem.id]">
            <img class="w-100 h-100" [src]="mangaItem.coverImage.large" alt="">
          </a>
        </div>
        <div class="ongoing">
          <span>{{ mangaItem.status }}</span>
        </div>
      </div>
      <div class="col-lg-9 col-md-7 col-sm-6 col-12 info-manga d-flex flex-column justify-content-between">
        <div>
          <div class="title">
            <div class="row d-flex flex-nowrap">
              <div class="col-11">
                <div><a [routerLink]="['/manga', mangaItem.id]">{{ mangaItem.name }}</a>
                  <span class="chap-update" *ngIf="mangaItem?.chapter.length"> - Update chapter
                    {{ mangaItem?.chapter[mangaItem?.chapter.length - 1]}}</span>
                </div>
              </div>
              <div class="col-1 d-flex justify-content-end align-items-start">
                <i class="fas fa-trash-alt icon-setting"(click)="removeItem(mangaItem.id, index)" title="Remove this manga"></i>
              </div>

            </div>

          </div>
          <div class="hour-first-chap d-flex flex-row align-items-end justify-content-between mt-2">
            <div><i class="far fa-clock icon-clock"></i> {{ mangaItem.lastUpdatedChapter }} ago</div>
            <div *ngIf="mangaItem?.chapter[0]?._id">
              <a [routerLink]="['/manga/',mangaItem.id, 'chapter', mangaItem?.chapter[0]?._id]">First
                Chapter</a>
            </div>
          </div>
          <div class="author">
            <div>
              <ng-container *ngFor="let genre of mangaItem.genres">
                <a class="author-item" [routerLink]="['/genres/', genre]">{{ genre }}</a>
              </ng-container>
            </div>
          </div>
          <div class="description">
            <p>
              {{ mangaItem.description }}
            </p>
          </div>
        </div>
        <div>
          <hr *ngIf="mangaItem?.chapter.length > 0">
          <div class="chaps">
            <div>
              <div class="chap-item d-flex flex-row align-items-end justify-content-between">
                <ng-container *ngIf="mangaItem?.chapter[mangaItem?.chapter.length -1]">
                  <div><a
                      [routerLink]="['/manga/',mangaItem?.id,'chapter', mangaItem?.chapter[mangaItem?.chapter.length -1]]">
                      Chapter {{ mangaItem?.chapter[mangaItem?.chapter.length -1] }} </a></div>

                </ng-container>
              </div>
              <div class="chap-item d-flex flex-row align-items-end justify-content-between">
                <ng-container *ngIf="mangaItem?.chapter[mangaItem?.chapter.length -2]">
                  <div><a
                      [routerLink]="['/manga/',mangaItem.id,'chapter', mangaItem?.chapter[mangaItem?.chapter.length -2]]">
                      Chapter {{ mangaItem?.chapter[mangaItem?.chapter.length -2] }}</a>
                  </div>

                </ng-container>
              </div>
              <div class="chap-item d-flex flex-row align-items-end justify-content-between">
                <ng-container *ngIf="mangaItem?.chapter[mangaItem?.chapter.length -3]">
                  <div><a
                      [routerLink]="['/manga/',mangaItem.id,'chapter', mangaItem?.chapter[mangaItem?.chapter.length -3]]">
                      Chapter {{ mangaItem?.chapter[mangaItem?.chapter.length -3] }}</a>
                  </div>

                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div class="my-3 d-flex justify-content-center">
  <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" [nzPageSize]="20"
    (nzPageIndexChange)="getPageIndexChange($event)">
  </nz-pagination>
</div>