<div class="manga-item">
  <div class="row">
    <div class="col-lg-3 col-md-5 col-sm-6 col-12">
      <div class="img-top">
        <a [routerLink]="['/manga', mangaItem.id]">
          <img class="w-100 h-100"
            [src]="mangaItem.coverImage.large"
            alt="">
        </a>
      </div>
      <div class="ongoing">
        <span>{{ mangaItem.status }}</span>
      </div>
    </div>
    <div class="col-lg-9 col-md-7 col-sm-6 col-12 info-manga">
      <div class="title d-flex flex-row align-items-end">
        <div><a [routerLink]="['/manga', 1]">{{ mangaItem.name }}</a>
          <span class="chap-update"> - Update chapter 180</span>
        </div>
      </div>
      <div class="hour-first-chap d-flex flex-row align-items-end justify-content-between">
        <div><i class="far fa-clock icon-clock"></i> {{ mangaItem.updatedAt }} ago</div>
        <div>
          <a href="#">First Chapter</a>
        </div>
      </div>
      <div class="author">
        <div>
          <a class="author-item" *ngFor="let genre of mangaItem.genres" [routerLink]="['/genres/', genre | lowercase]">{{ genre }}</a>
        </div>
      </div>
      <div class="description">
        <p>
          {{ mangaItem.description | spliceString:500 }}
        </p>
      </div>

      <div class="chaps">
        <div>
          <div class="chap-item d-flex flex-row align-items-end justify-content-between">
            <div><a href="#">Chap 3</a></div>
            <div>Feb-22-2020</div>
          </div>
          <div class="chap-item d-flex flex-row align-items-end justify-content-between">
            <div><a href="#">Chap 2</a></div>
            <div>Feb-21-2020</div>
          </div>
          <div class="chap-item d-flex flex-row align-items-end justify-content-between">
            <div><a href="#">Chap 1</a></div>
            <div>Feb-15-2020</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>